#filter-state-box {
  height:32px;
  margin-bottom:30px;
  width: 100%;
}

#filter-text-box {
  height: 32px;
  width: calc(100% - 8px);
  margin-bottom:30px;
}

.cellheader {
  margin-top: 5px;
  font-weight: bold;
  line-height: 20px;
}

.cellsubheader {
  line-height: 15px;
  text-transform:capitalize;
}