#filter-state-box {
  height: 32px;
  margin-bottom: 30px;
  width: 100%;
}

#filter-text-box {
  height: 32px;
  width: calc(100% - 8px);
  margin-bottom: 30px;
  display: none;
}

.cellheader {
  margin-top: 5px;
  font-weight: bold;
  line-height: 20px;
}

.cellsubheader {
  line-height: 15px;
  text-transform: capitalize;
  word-wrap: normal;
  white-space: break-spaces;
  margin-top: 0;
}

.campaigns-container p > a {
  text-decoration: underline;
}

#campaign-grid .cellicon {
  background-image: url("/icons/icon_heart.png");
  background-size: 29px;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#campaign-grid .cellbutton {
  width: 128px;
  height: 22px;
  background: #85E6FD 0% 0% no-repeat padding-box;
  border: 0.5px solid #00288C;
  border-radius: 10px;
  opacity: 1;
}

#campaign-grid .cellbutton button {
  font: normal normal medium 10px/14px "Graphik sans-serif";
}

.rightblock {
  height: inherit;
  margin-top: 5px;
  font-weight: bold;
  line-height: 20px;
}

.cellstatus {
  font-weight: bold;
  line-height: 20px;
}

.celllastrun {
  margin-top: 60px;
}

.campaignrunning {
  background-color: green;
  font-weight: normal;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.campaigninactive {
  background-color: #F5F5F5;
  font-weight: normal;
  color: #616161;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #9E9E9E;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.campaignoverlaps {
  width: 74px;
  height: 13px;
  background: #D11B1B 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 3px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
}

.campaignpaused {
  background-color: #D11B1B;
  font-weight: normal;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.campaignactive {
  background-color: #1565C0;
  font-weight: normal;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.campaignscheduled {
  background-color: #FFF3E0;
  font-weight: normal;
  color: #E65100;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #E65100;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.campaignenabled {
  background-color: #E8F5E9;
  font-weight: normal;
  color: #1B5E20;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #1B5E20;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.campaigndisabled {
  background-color: #F5F5F5;
  font-weight: normal;
  color: #616161;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #9E9E9E;
  width: 75px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 9;
}

.marketing-trigger-number {
  font-weight: bold;
  font-style: italic;
  color: grey;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 15px;
}

/*# sourceMappingURL=campaigns.css.map */
