.video {
  .video-header {
    height: 60px;
    width: calc(100% - 44px);
    background-color: #ffd400;
    font-family: highway-gothic-narrow, sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
  }

  .video-header .video-header-right {
    font-size: 14px;
    background-color: black;
    margin: 14px 0;
  }

  width: 100%;

  /* START OF USEFUL CODE */

  video {
    width: 100%;
    height: auto;
  }

  .player__button,
  .player__slider,
  .player__select {
    text-align-last: right;
    margin: 0 10px;
    padding: 5px;
    border: 0;
    background-color: transparent;
    color: #fff;
  }

  .player__button:focus,
  .player__slider:focus,
  .player__select:focus {
    outline: none;
  }

  .player__button {
    font-size: 20px;
    width: 25px;
    line-height: 1.6;
  }

  .player {
    width: 100%;
    min-width: 400px; /* 750px; */
    border: 0; //5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgb 0 0 0 / 20%;
    position: relative;
    font-size: 0;
    overflow: hidden;
  }

  .player__video {
    width: 100%;
  }

  .player__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all 0.3s;
    background: rgb 0 0 0;
    z-index: 2147483647;
  }

  .player__controls--visible {
    transform: translateY(0);
  }

  .player__controls-holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 10px;
    transition: height 0.3s;
    background: rgb 0 0 0 / 50%;
    cursor: ew-resize;
  }

  .progress__filled {
    width: 50%;
    background: #136ff6; /* #ffc600; */
    flex: 0;
    flex-basis: 0%;
  }

  .player__playbackIcon::after {
    font-family: FontAwesome;
    content: '\f04b';
  }

  .player__playbackIcon--paused::after {
    font-family: FontAwesome;
    content: '\f04c';
  }

  .player__select {
    appearance: none;
  }

  .player__select > option {
    border: 0;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #000;
  }

  /* unholy css to style input type="range" */

  input[type='range'] {
    appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }

  // input[type='range']:focus {
  //   outline: none;
  // }

  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb 0 0 0 / 0%, 0 0 1px rgb1 13 13 / 0%;
    background: rgb 255 255 255 / 30%;
    border-radius: 1.3px;
    border: 0.2px solid rgb 1 1 1 / 0%;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #136ff6; /* #ffc600; */
    cursor: pointer;
    appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgb 0 0 0 / 20%;
  }

  input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgb 0 0 0 / 0%, 0 0 1px rgb 13 13 13 / 0%;
    background: #fff;
    border-radius: 1.3px;
    border: 0.2px solid rgb 1 1 1 / 0%;
  }

  input[type='range']::-moz-range-thumb {
    box-shadow: 0 0 0 rgb 0 0 0 / 0%, 0 0 0 rgb 13 13 13 / 0%;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #136ff6; /* #ffc600; */
    cursor: pointer;
  }

  /* fullscreen */

  // :full-screen {
  //   width: 100%;
  //   background-color: transparent;
  // }

  /* hide controls on fullscreen with WebKit */
  video::-webkit-media-controls {
    display: none !important;
  }
}
