.admin-create-user-wrapper {
  z-index: 1;
  position: relative; }

.admin-create-user .modal-button-wrapper {
  margin: 15px 0; }

.admin-create-user .modal-button-wrapper button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative; }

.admin-create-user .modal-button-wrapper button:hover {
  color: #fff;
  background-color: #286090; }

.admin-create-user .modal-container {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important; }

.admin-create-user .modal-container.none {
  display: none !important; }

.admin-create-user .modal-container .modal-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  z-index: 1; }

.admin-create-user .modal-container .modal-wrapper {
  background-color: #fff;
  border: 1px solid #606060;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 3px 9px #0000007f;
  width: 25vw;
  height: 80vh;
  margin: 70px 0 10px;
  position: relative;
  z-index: 2; }

.admin-create-user .modal-container .modal-wrapper .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
  line-height: normal;
  height: auto; }

.admin-create-user .modal-container .modal-wrapper > div {
  display: flex;
  flex-direction: column;
  height: 100%; }

.admin-create-user .modal-container .modal-wrapper > div .create-user-err-msg {
  padding: 5px;
  font-size: 14px;
  background: #f5f5f5;
  border: 2px solid #d64958;
  color: #d64958;
  margin-bottom: 10px; }

.admin-create-user .modal-container .modal-wrapper > div .create-user-err-msg.none {
  display: none !important; }

.admin-create-user .modal-container .modal-wrapper > div .create-user-title {
  margin-bottom: 30px; }

.admin-create-user .modal-container .modal-wrapper > div .modal {
  display: flex;
  flex-direction: column;
  height: 100%; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form {
  display: flex;
  height: 100%;
  flex-direction: column; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  width: 100%; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .input-description,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .input-description {
  font-size: 10px;
  color: #3b3b3b; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .username-input-wrapper,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .username-input-wrapper {
  display: flex;
  width: 20vw;
  min-width: 300px; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .username-input-wrapper input,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .username-input-wrapper input {
  width: 100%;
  border: 1px solid #ccc;
  height: 34px;
  color: #555;
  background-color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .username-input-wrapper input:focus,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .username-input-wrapper input:focus {
  border-color: #66afe9;
  outline: 0; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .password-input-wrapper,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .password-input-wrapper {
  display: flex;
  width: 20vw;
  min-width: 300px; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .password-input-wrapper input,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .password-input-wrapper input {
  width: 100%;
  height: 34px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px 0 0 5px; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .password-input-wrapper input:focus,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .password-input-wrapper input:focus {
  border-color: #66afe9;
  outline: 0; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .password-input-wrapper .show-password-button,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .password-input-wrapper .show-password-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .username-wrapper .password-input-wrapper .show-password-button:hover,
.admin-create-user .modal-container .modal-wrapper > div .modal .form .password-wrapper .password-input-wrapper .show-password-button:hover {
  background-color: #fff;
  border-color: #66afe9; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .create-user-pass-message {
  display: flex;
  flex-direction: column;
  margin: 10px 0; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .create-user-pass-message.none {
  display: none !important; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .create-user-pass-message span {
  font-size: 14px;
  color: #19bf00; }

.admin-create-user .modal-container .modal-wrapper > div .modal .form .create-user-pass-message span.error {
  color: #d64958; }

.admin-create-user .modal-container .modal-wrapper > div .modal .create-user-button-wrapper {
  display: flex;
  margin: 10px 0;
  justify-content: end; }

.admin-create-user .modal-container .modal-wrapper > div .modal .create-user-button-wrapper button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
  min-width: 100px; }

.admin-create-user .modal-container .modal-wrapper > div .modal .create-user-button-wrapper button:hover {
  color: #fff;
  background-color: #286090; }

.admin-create-user .modal-container .modal-wrapper > div .modal .create-user-button-wrapper button:disabled {
  color: #fff;
  background-color: #286090; }

.admin-create-user .modal-container .modal-wrapper > div .modal .create-user-button-wrapper button.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 41%;
  border-radius: 100%;
  width: 0;
  height: 0;
  border: 2px solid #ffffff7f;
  border-left-color: #fff;
  border-top-color: #fff;
  animation: spin 0.6s infinite linear, grow 0.3s forwards ease-out; }

@keyframes spin {
  to {
    transform: rotate(359deg); } }

@keyframes grow {
  to {
    width: 14px;
    height: 14px;
    margin-top: -8px;
    right: 13px; } }
