main .section {
  margin: 0 !important;
  padding: 0 !important; }

header {
  display: none; }

.sign-in-container {
  width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important; }

.sign-in-container.none {
  display: none !important; }

.sign-in-container .sign-in-wrapper {
  background-color: #fff;
  border: 1px solid #606060;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 3px 9px #0000007F;
  max-width: 350px;
  width: 100%;
  margin: 30px 0; }

.sign-in-container .sign-in-wrapper .sign-in .modal-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  z-index: -1; }

.sign-in-container .sign-in-wrapper .sign-in .logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sign-in-container .sign-in-wrapper .sign-in .sign-in-title {
  padding: 10px 0;
  font-size: 16px;
  color: #3B3B3B; }

.sign-in-container .sign-in-wrapper .sign-in .sign-in-err-msg {
  display: none;
  padding: 5px;
  font-size: 14px;
  background: #F5F5F5;
  border: 2px solid #D64958;
  color: #D64958;
  margin-bottom: 10px; }

.sign-in-container .sign-in-wrapper .sign-in .modal {
  display: flex;
  flex-direction: column; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form {
  color: #3B3B3B;
  font-size: 14px; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .username-wrapper {
  margin-bottom: 5px;
  font-weight: 400; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .username-wrapper .username-input {
  display: flex; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .username-wrapper .username-input input {
  width: 100%;
  border: 1px solid #ccc;
  height: 34px;
  color: #555;
  background-color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .username-wrapper .username-input input:focus {
  border-color: #66afe9;
  outline: 0; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .password-wrapper .password-input-wrapper {
  display: flex; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .password-wrapper .password-input-wrapper input {
  width: 100%;
  height: 34px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px 0 0 5px; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .password-wrapper .password-input-wrapper input:focus {
  border-color: #66afe9;
  outline: 0; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .password-wrapper .password-input-wrapper .show-password-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .password-wrapper .password-input-wrapper .show-password-button:hover {
  background-color: #fff;
  border-color: #66afe9; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .sign-in-button-wrapper {
  display: flex;
  margin: 10px 0; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .sign-in-button-wrapper button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .sign-in-button-wrapper button:hover {
  color: #fff;
  background-color: #286090; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .sign-in-button-wrapper button:disabled {
  color: #fff;
  background-color: #286090; }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .sign-in-button-wrapper button.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 47%;
  border-radius: 100%;
  width: 0;
  height: 0;
  border: 2px solid #FFFFFF7F;
  border-left-color: #FFF;
  border-top-color: #FFF;
  animation: spin .6s infinite linear, grow .3s forwards ease-out; }

@keyframes spin {
  to {
    transform: rotate(359deg); } }

@keyframes grow {
  to {
    width: 14px;
    height: 14px;
    margin-top: -8px;
    right: 13px; } }

.sign-in-container .sign-in-wrapper .sign-in .modal .form .forgot-password-wrapper {
  margin: 5px 0; }

.sign-in-container .sign-in-wrapper .sign-in .modal .sign-up-link {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-align: center; }
