.rendered-form label, .formbuilder-radio  {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 5px 20px 10px;
  border: 1px solid #888;
  width: 600px;
  font-size: var(--body-font-size-xs);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -7px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tab-bar {
  display:flex;
  width: 100%;
  border-bottom: lightgrey 5px solid;
  margin-bottom: 30px;
  position: relative;
  font-size: var(--body-font-size-s);
  font-weight:700;
  padding-bottom: 0;
}

.tab-item {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -5px;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  &.selected {
    border-bottom: black 5px solid;
  }

}

#modal-form button{
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 49%;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.modal-header {
  font-size: var(--heading-font-size-m);
  font-weight: bold;
}

.modal-sub-header {
  font-size: var(--heading-font-size-xs);
  font-weight: bold;
}

.formbuilder-header {
  font-size: var(--body-font-size-m);
  font-weight: 700;
  padding-top: 30px;
}

.formbuilder-text label{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  font-size: var(--body-font-size-xxs);
}

.formbuilder-select-label {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  font-size: var(--body-font-size-xxs);
}

.formbuilder-select select {
  width: 100%;
  height: 32px;
}


.formbuilder-text input {
  width: calc(100% - 8px);
  height: 32px;
}

.formbuilder-radio {
  margin-top: 20px;
  font-size: var(--body-font-size-xxs);
}

.checkbox-group {
  padding-bottom: 20px;
}

.checkbox-group label {
  font-size: var(--body-font-size-xxs);
}

.checkbox-header {
  font-size: var(--body-font-size-xxs);
  font-weight: bold;
}

.formbuilder-radio label {
  font-size: var(--body-font-size-xxs);
}

.formbuilder-required {
  color:red;
  font-weight: bold;
}

.formbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.formbutton {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 10px;
}

.field-error {
  font-size: var(--body-font-size-xxs);
  position: relative;
  top: -12px;
  color: red;
}

.field-input-error input {
  border-color:red;
  border-width: 2px;
}

.field-input-error label {
  color:red;
}

.hidden {
  display:none;
}

.visible {
  display:block;
}

.row {
  display: flex;
}

.column {
  flex: 1;
}