.campaign-update label {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  font-size: var(--body-font-size-xxs);
}

.campaign-update .col {
  width: 100%;
}

.campaign-update select {
  width: 100%;
  height: 32px;
}

.campaign-update input {
  width: calc(100% - 8px);
  height: 32px;
}

.campaign-update textarea {
  width: calc(100% - 8px);
  height: 32px;
}

.campaign-update .columns {
  display: flex;
  gap: 20px;
}

.campaign-update .column {
  flex: 1;
}

.campaign-update .rendered-form label, .campaign-update .formbuilder-radio {
  font-weight: bold;
}

.campaign-update .formbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.campaign-update .formbuttons .btn-cancel {
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.campaign-update .formbuttons .btn-draft {
  background-color: #B9A348;
}

.campaign-update .formbuttons .btn-enable {
  background-color: #62A826;
}

.campaign-update .formbutton {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 10px;
}

.campaign-update .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
}

.campaign-update .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 5px 20px 10px;
  border: 1px solid #888;
  width: 600px;
  font-size: var(--body-font-size-xs);
}

.campaign-update .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -7px;
}

.campaign-update .close:hover,
.campaign-update .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.campaign-update #modal-form button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 49%;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.campaign-update .modal-header {
  font-size: var(--heading-font-size-m);
  font-weight: bold;
}

.campaign-update .modal-sub-header {
  font-size: var(--heading-font-size-xs);
  font-weight: bold;
}

.campaign-update .formbuilder-text label {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  font-size: var(--body-font-size-xxs);
}

.campaign-update .formbuilder-select-label {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  font-size: var(--body-font-size-xxs);
}

.campaign-update .formbuilder-select select {
  width: 100%;
  height: 32px;
}

.campaign-update .formbuilder-text input {
  width: calc(100% - 8px);
  height: 32px;
}

.campaign-update .formbuilder-radio {
  margin-top: 20px;
  font-size: var(--body-font-size-xxs);
}

.campaign-update .formbuilder-radio label {
  font-size: var(--body-font-size-xxs);
}

.campaign-update .formbuilder-required {
  color: red;
  font-weight: bold;
}

.campaign-update .field-error {
  font-size: var(--body-font-size-xxs);
  position: relative;
  top: -12px;
  color: red;
}

.campaign-update .field-input-error input {
  border-color: red;
  border-width: 2px;
}

.campaign-update .field-input-error label {
  color: red;
}

.campaign-update .hidden {
  display: none;
}

.campaign-update .row {
  display: flex;
}
