main .section {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  display: none;
}

.confirm-forgot-password-container {
  width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;

  &.none {
    display: none !important;
  }

  .confirm-forgot-password-wrapper {
    background-color: #fff;
    border: 1px solid #606060;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 3px 9px #0000007F;
    max-width: 350px;
    width: 100%;
    margin: 30px 0;

    .confirm-forgot-password {
      .modal-cover {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #666;
        z-index: -1;
      }

      .logo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .confirm-f-p-description {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .confirm-forgot-pass-err-msg {
        display: none;
        padding: 5px;
        font-size: 14px;
        background: #F5F5F5;
        border: 2px solid #D64958;
        color: #D64958;
        margin-bottom: 10px;
      }

      .modal {
        display: flex;
        flex-direction: column;

        .form {
          .code-wrapper,
          .new-password-wrapper,
          .new-password-repeat-wrapper {
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 14px;

            .code-input-wrapper,
            .new-password-input-wrapper,
            .new-password-repeat-input-wrapper {
              display: flex;

              input {
                width: 100%;
                height: 34px;
                color: #555;
                background-color: #fff;
                border: 1px solid #ccc;
                padding: 6px 12px;
                font-size: 14px;
                border-radius: 5px;

                &:focus {
                  border-color: #66afe9;
                  outline: 0;
                }
              }
            }
          }

          .confirm-forgot-password-message {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            &.none {
              display: none !important;
            }

            span {
              font-size: 14px;
              color: #19BF00;

              &.error {
                color: #D64958;
              }
            }
          }

          .confirm-r-f-button-wrapper {
            display: flex;
            margin: 10px 0;

            button {
              font-size: 14px;
              font-weight: bold;
              height: 40px;
              width: 100%;
              color: #fff;
              background-color: #337ab7;
              padding: 6px 12px;
              text-align: center;
              white-space: nowrap;
              border: 1px solid transparent;
              border-radius: 5px;
              position: relative;

              &:hover {
                color: #fff;
                background-color: #286090;
              }

              &:disabled {
                color: #fff;
                background-color: #286090;
              }

              &.loading::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 47%;
                border-radius: 100%;
                width: 0;
                height: 0;
                border: 2px solid #FFFFFF7F;
                border-left-color: #FFF;
                border-top-color: #FFF;
                animation: spin .6s infinite linear, grow .3s forwards ease-out;
              }

              @keyframes spin {
                to {
                  transform: rotate(359deg);
                }
              }

              @keyframes grow {
                to {
                  width: 14px;
                  height: 14px;
                  margin-top: -8px;
                  right: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
