#sidebar {
  width: 174px;
  height: 2000px;
  background-color: #f4f4f4;
  position: absolute;

  .disabled {
    display: none;
  }
}

#sidebar .sidebar {
  position: absolute;
}

#sidebar .sidebar .nav-brand {
  display: none;
}

#sidebar .sidebar-menu {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-left: -25px;
  width: 166px;
  text-align: center;
  white-space: normal;
}

#sidebar .sidebar-menu > div {
  padding: 40px 8px 12px;
  margin-left: -8px;
  overflow: auto;
  height: 77px;

  > div:nth-of-type(1) {
    float: left;
  }
}

#sidebar .sidebar-menu > div:hover {
  background-color: white;
  color: black;
}

#sidebar .sidebar-menu > div.selected {
  background-color: #fff; //#337ab7;
  color: black;
}

#sidebar .nav-wrapper {
  width: 100%;
  z-index: 2;
}

#sidebar .nav-wrapper nav {
  box-sizing: border-box;
  display: grid;
  grid-template: 'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

@media (min-width: 600px) {
  #sidebar .nav-wrapper nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper nav {
    justify-content: center;
    gap: 0 0.5em;
  }
}

@media (min-width: 1400px) {
  #sidebar .nav-wrapper nav {
    gap: 0 2em;
  }
}

#sidebar .nav-wrapper nav p {
  margin: 0;
  line-height: 1;
}

#sidebar .nav-wrapper nav a:any-link {
  color: black;
}

#sidebar .nav-wrapper nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections section' 1fr 'auth auth' auto 'tools tools' var(--nav-height)
    / auto 1fr;
  overflow-y: auto;
  min-height: 200vh;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

#sidebar
.nav-wrapper
nav[aria-expanded='true']
.nav-hamburger
button
.nav-hamburger-icon {
  height: 22px;
}

#sidebar
.nav-wrapper
nav[aria-expanded='true']
.nav-hamburger
button
.nav-hamburger-icon::before,
#sidebar
.nav-wrapper
nav[aria-expanded='true']
.nav-hamburger
button
.nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

#sidebar
.nav-wrapper
nav[aria-expanded='true']
.nav-hamburger
button
.nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

#sidebar .nav-wrapper nav[aria-expanded='true'] .nav-brand {
  justify-content: flex-start;
}

#sidebar .nav-wrapper nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
    position: relative;
    top: -64px;
  }
}

#sidebar .nav-wrapper nav[aria-expanded='true'] .nav-sections ul {
  display: flex;
  flex-direction: column;
  color: white;
}

#sidebar
.nav-wrapper[aria-expanded='false']
.nav-hamburger
button
.nav-hamburger-icon {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

#sidebar
.nav-wrapper[aria-expanded='false']
.nav-hamburger
button
.nav-hamburger-icon::before,
#sidebar
.nav-wrapper[aria-expanded='false']
.nav-hamburger
button
.nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

#sidebar
.nav-wrapper[aria-expanded='false']
.nav-hamburger
button
.nav-hamburger-icon::before {
  top: -6px;
}

#sidebar
.nav-wrapper[aria-expanded='false']
.nav-hamburger
button
.nav-hamburger-icon::after {
  top: 6px;
}

#sidebar .nav-wrapper[aria-expanded='false'] .nav-auth {
  visibility: hidden;
  display: none;
}

#sidebar .nav-wrapper .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  align-items: center;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

#sidebar .nav-wrapper .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

#sidebar .nav-wrapper .nav-hamburger button .nav-hamburger-icon {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

#sidebar .nav-wrapper .nav-hamburger button .nav-hamburger-icon::before,
#sidebar .nav-wrapper .nav-hamburger button .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  width: 20px;
  content: '';
  position: absolute;
  background: currentcolor;
}

#sidebar .nav-wrapper .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  display: none;
  justify-content: center;
}

#sidebar .nav-wrapper .nav-brand img {
  width: 128px;
  height: auto;
}

#sidebar .nav-wrapper .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }
}

#sidebar .nav-wrapper .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    gap: 5px;
    margin: 0;
    font-size: var(--body-font-size-xxs);
  }
}

@media (min-width: 1400px) {
  #sidebar .nav-wrapper .nav-sections ul {
    font-size: var(--body-font-size-xs);
  }
}

#sidebar .nav-wrapper .nav-sections ul > li {
  font-weight: 700;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul > li {
    flex: 0 1 auto;
    position: relative;
  }
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul > li.nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  #sidebar .nav-wrapper .nav-sections ul > li.nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }
}

@media (min-width: 900px) {
  #sidebar
  .nav-wrapper
  .nav-sections
  ul
  > li.nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }
}

#sidebar .nav-wrapper .nav-sections ul > li > ul {
  margin-top: 0;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul > li > ul {
    display: none;
    position: relative;
  }
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }
}

#sidebar .nav-wrapper .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-sections ul > li > ul > li {
    padding: 8px 0;
  }
}

#sidebar .nav-wrapper .nav-tools {
  grid-area: tools;
}

#sidebar .nav-wrapper .nav-auth {
  grid-area: auth;
  visibility: visible;
  display: flex;
  flex-direction: column;
  font-size: var(--body-font-size-s);
  white-space: nowrap;
}

#sidebar .nav-wrapper .nav-auth > p {
  margin: 10px 0;
}

#sidebar .nav-wrapper .nav-auth > p.none {
  display: none !important;
  visibility: hidden !important;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-auth > p {
    margin: 0 5px;
  }
}

#sidebar .nav-wrapper .nav-auth > p a {
  text-decoration: underline;
}

@media (min-width: 900px) {
  #sidebar .nav-wrapper .nav-auth {
    flex-direction: row;
    font-size: var(--body-font-size-xxs);
  }
}

@media (min-width: 1400px) {
  #sidebar .nav-wrapper .nav-auth {
    font-size: var(--body-font-size-xs);
  }
}

#sidebar .nav-wrapper .nav-auth .log-out button {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #337ab7;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

#sidebar .nav-wrapper .nav-auth .log-out button:hover {
  color: #fff;
  background-color: #286090;
}
