#available-files-grid {
  height: 500px;
  width: 100%;
  font-size: 12px;
  overflow-y: scroll; }

.grid-header {
  height: 60px;
  width: calc(100% - 44px);
  background-color: white;
  font: var(--body-font-family);
  font-size: 24px;
  font-weight: bold;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between; }

.available-files .grid-header .grid-header-right {
  font-size: 14px;
  margin: 14px 0; }

#btn-view,
#btn-download {
  border: none;
  background-color: transparent; }

#btn-view {
  background-image: url("/icons/icon_view.png");
  height: 22px;
  width: 40px;
  margin-top: 5px; }

#btn-download {
  background-image: url("/icons/icon_download.png");
  height: 27px;
  width: 21px;
  margin-left: 25px;
  margin-top: 5px; }

#btn-user {
  background-image: url("/icons/icon_user.png");
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 25px;
  margin-top: 5px; }

#btn-system {
  background-image: url("/icons/icon_system.png");
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-left: 25px;
  margin-top: 5px; }

#btn-legend {
  position: relative;
  top: -8px;
  left: 6px; }

.gridItemFileName {
  line-height: 10px;
  margin-top: 16px;
  font-size: 12px; }

.gridItemCreatedTime {
  line-height: 22px;
  font-size: 10px; }

.cellIconWrapper {
  display: flex;
  background-image: url("/icons/icon_file.png");
  background-repeat: no-repeat;
  background-position-y: 10px; }

.gridNameDate {
  padding-left: 35px;
  margin-top: -5px; }

.gridNameDate u {
  color: #4558b2;
  text-decoration-color: #4558b2; }

progress {
  border: 0;
  height: 8px;
  border-radius: 5px; }

progress::-webkit-progress-bar {
  border: 0;
  height: 8px;
  border-radius: 5px;
  background-color: green; }

progress::-webkit-progress-value {
  border: 0;
  height: 8px;
  border-radius: 5px;
  background-color: #02a2fa; }

progress::-moz-progress-bar {
  border: 0;
  height: 10px;
  border-radius: 5px; }
