.G-capitalize {
  text-transform : capitalize;
}

.G-background-image {
  background-size     : cover;
  background-position : center;
  background-repeat   : no-repeat;
}

.G-half {
  width : calc(50% - 20px) !important;
}

.G-none {
  display: none;
}

.G-flex {
  display : flex;
}

.G-center {
  justify-content : center;
  align-items     : center;
}

.G-justify-center {
  justify-content : center;
}

.G-justify-between {
  justify-content : space-between;
}

.G-justify-around {
  justify-content : space-around;
}

.G-justify-end {
  justify-content : flex-end;
}

.G-align-center {
  align-items : center;
}

.G-align-start {
  align-items : flex-start;
}

.G-align-end {
  align-items : flex-end;
}

.G-flex-column {
  flex-direction : column;
}

.G-flex-wrap {
  flex-wrap : wrap;
}
