@import url('css/global.css');

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* fonts */
  --body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto,
    sans-serif;
  --heading-font-family: highway-gothic-narrow, sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono',
    monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --body-font-size-xxs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: highway-gothic-condensed;
  src: url('./fonts/highway-gothic/HWYGCOND.TTF');
}

@font-face {
  font-family: highway-gothic-narrow;
  src: url('./fonts/highway-gothic/HWYGNRRW.TTF');
}

@font-face {
  font-family: highway-gothic;
  src: url('./fonts/highway-gothic/HWYGOTH.TTF');
}

@font-face {
  font-family: highway-gothic-wide;
  src: url('./fonts/highway-gothic/HWYGWDE.TTF');
}

@font-face {
  font-family: highway-expanded;
  src: url('./fonts/highway-gothic/HWYGEXPD.TTF');
}

@font-face {
  font-family: icomoon;
  src: url('./fonts/icomoon/icomoon.ttf');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a .icon-download:hover::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ddd;
}

a .icon-download:hover::after {
  content: 'DOWNLOAD IMAGE';
  position: absolute;
  font-size: 12px;
  top: 2em;
  left: -4em;
  min-width: 120px;
  padding: 8px;
  color: black;
  background-color: #ddd;
  z-index: 1;
  font-weight: bold;
  font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
}

.icon.icon-goto {
  width: 50px;
}

.icon-sort::before {
  content: '\f0dc';
}

.icon-unsorted::before {
  content: '\f0dc';
}

.icon-sort-desc::before {
  content: '\f0dd';
}

.icon-sort-down::before {
  content: '\f0dd';
}

.icon-sort-asc::before {
  content: '\f0de';
}

.icon-sort-up::before {
  content: '\f0de';
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 50px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

html {
  background-image: url('https://www.usta.com/content/dam/bmw/assets/19107-USOpen-org-Redesign-Texture.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

body {
  max-width: 1440px;
  min-width: 1440px;
  font-size: var(--body-font-size-m);
  margin: auto;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: white;

  &.role-admin,
  &.role-user {
    background-color: #f4f4f4;
  }
}

body.page-main {
  min-width: 0;
}

body.page-sign-in {
  min-width: 0;
}

main.page-sign-in {
  margin-left: 0;
  max-width: 1440px;
  background: #92bfb7;
}

body.page-sign-up {
  min-width: 0;
}

main.page-sign-up {
  margin-left: 0;
  max-width: 1440px;
}

header {
  height: var(--nav-height);
}

.role-admin main,
.role-user main {
  min-height: 2000px;
}

main {
  margin-left: 174px;
  max-width: calc(1440px - 174px);
  border-left: 1px #d5d5d5 solid;

  /* min-height: 2000px; */
  background: #f7f7f7
    url('https://www.usta.com/content/dam/bmw/assets/tennis_player_footer.png')
    no-repeat bottom right 50px;
  padding-bottom: 350px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: black;

  /* color: var(--link-color); */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

main img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 32px;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* section metadata */

/* main .section.highlight {
  background-color: var(--highlight-background-color);
} */

.default-content-wrapper > h1 {
  margin-top: 0;
}

.page-home .scorecard-container {
  float: left;
  width: 61%;
}

.page-home.role-user .scorecard-container {
  width: calc(100% - 60px);
}

.page-home .users-container {
  float: left;
  width: 31%;
  padding-left: 0;
}

.page-home.role-user .users-container {
  display: none;
}

.page-photos-video-and-audio .thumbnails-container .default-content-wrapper p {
  font-size: var(--body-font-size-xxs);
}
